body {
    background-color: rgb(232, 232, 232);
}

.root-container {
}

.news-container {
    width: 100%;
    position: relative;
    margin: 0px;
}

.root-container h1.title {
    font-size: 72px;
    padding: 10px;
    witdh: 100%;
    text-align: center;
    margin: 0px;
    font-family: "Architects Daughter", "Helvetica Neue", Helvetica, Arial, serif;
}

.news-container div.languages {
    width: 100%;
    background-color: rgb(68, 98, 255);
    padding-left: 10px;
    font-family: monospace;
}

.news-container a.languages {
    display: inline-block;
    color: white;
    padding: 2px;
}

.news-container .feeds {
    font-family: "Times New Roman", Times, serif;
}


.feeds h2.provider {
    background-color: rgb(63, 81, 181);
    margin: 0px;
    padding: 5px;
}


.feed-container .read-more {
    text-align: center;
    border-top: 1px dotted gray;
    color: gray;
    padding-top: 10px;
}

.feeds .feed-container {
    position: relative;
    overflow: scroll;
    height: 300px;
    border: 1px solid;
}

.feeds .feed {
    border-top: 1px solid gray;
    padding-bottom: 5px;
    width: 100%;
}


.feeds-wrapper .inserted {
    clear: both;
    width: 100%;
}


.footer {
    padding-top: 20px;
    width: 100%;
    position: relateive;
    clear: both;
}
.footer .copyrights {
    border-top: 1px solid #eeddff;
    text-align: center;
    font-size: small;
    color: gray;
}


.feed h3.title {
    margin-top: 5px;
}

.feed .published {
    margin-top: 5px;
    clear: both;
}

md-icon svg {
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}

.round {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);    
}

.selected {
    color: red !important;
    font-weight: bold;
}

@media screen and (min-device-width: 800px) {

    .feed-title-bar {
	min-height: 32px !important;
    }
    
    .feed-title {
	height: 32px !important;
    }

    .feeds h2.provider {
	max-height: 30px !important;
    }
    
    .feeds-wrapper {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	margin: 0px;
	display: block;
	margin-left: auto;
	margin-right:auto;
	width: 99%;
	max-height: 672px;		/* feeds (332px + 2px (border)) * 2 + 4*/
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgb(232, 232, 232);
    }
    .feeds-wrapper .feed-contents {
	position: relative;
	float: left;
	width: 33%;
    }

    .news-container a.languages {
	width: 20px;
    }
    
    .news-container .feeds {
	font-size: small;
	height: 332px;		/* feed + provider header*/
    }

    .dialog-container {
	width: 100%;
	height: 100%;
    }

    .dialog-container .title {
	font-size: medium;
    }

    .dialog-container .close {
	/* TODO */
    }

    .dialog-container .contents {
	width: 100%;
	height: 100%;
	overflow: hidden;
    }

    .dialog-container .contents .frame {
	width: 100%;
	height: 100%;
    }
}

@media screen and (max-device-width: 799px) {

    .root-container h1.title {
	height: 150px;
	font-size: 80px;
    }
    
    .feed-title-bar {
	min-height: 150px !important;
    }
    
    .feed-title {
	min-height: 150px !important;
    }

    .feeds h2.provider {
	max-height: 150px !important;
	font-size: 64px;
    }
    .feed-container .read-more {
	font-size: 64px;
    }
    
    .feed-contents .feed-container {
	height: 0px;
	overflow: scroll;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
    }

    .news-container div.languages {
	font-size: 50px;
    }
    .news-container a.languages {
	width: 100px;
    }

    .feed h3.title {
	font-size: 56px;
    }
    .feed .summary {
	font-size: 48px;
    }
    .feed .published {
	font-size: 40px;
    }
    
    md-icon {
	height: auto !important;
	min-width: auto !important;
	width: auto !important;
    }
    md-icon svg {
	width: 96px;
	height: 96px;
    }

    .show {
	height: 750px !important;
    }
    
    .arrow-up {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
    }

    .md-button.md-icon-button {
	min-height: 150px !important;
	height: 150px !important;
	min-width: 150px !important;
    }

    .footer {
	height: 120px;
    }
    .copyright {
	font-size: 32px;
    }
}
