
.root-container {
    
}

.root-container h1.title {
    font-size: large;
    witdh: 100%;
    text-align: center;
    background-color: rgb(63, 81, 231);
    margin: 0px;
    padding: 10px;
}

.news-container {
    width: 100%;
    position: relative;
    margin: 0px;
}

.feeds-wrapper {
    margin: 0px;
}

.news-container .feeds {
    font-size: small;
    width: 30%;
    position: relative;
    float: left;
    height: 500px;
    font-family: "Times New Roman", Times, serif;
}

.feeds h2.provider {
    background-color: rgb(63, 81, 181);
    margin: 0px;
    padding: 5px;
}

.feeds .feed-container {
    position: relative;
    overflow: scroll;
    height: 100%;
    border: 1px solid;
}

.feeds .feed {
    border-top: 1px solid gray;
    padding-bottom: 5px;
    width: 100%;
}

.feed h3.title {
    margin-top: 5px;
}

.dialog-container {
    width: 100%;
    height: 100%;
}

.dialog-container .title {
    font-size: medium;
}

.dialog-container .close {
    /* TODO */
}

.dialog-container .contents {
    width: 100%;
    height: 100%;
}

.dialog-container .contents .frame {
    width: 100%;
    height: 100%;
}