<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>News reader</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/news/styles/news.css" />
  </head>
  <body>
    <div id="control" class="root-container">
      <h1 class="title">News reader</h1>
      <div ng-app="news" id="news" class="news-container">
	<div ng-controller="providerCtrl" ng-cloak class="feeds-wrapper">
	  <div ng-repeat="(provider, summary) in summaries" class="feeds">
	    <md-toolbar style="min-height: 32px !important">
	      <div class="md-toolbar-tools" style="height: 32px !important">
		<h2 class="provider"><a href="{{urls[provider]}}" target="_blank">{{provider}}</a></h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="load_summary(provider)">
		  <md-icon md-svg-src="/news/img/refresh_32x32.svg" aria-label="Refresh {{provider}}"></md-icon>
		</md-button>
	      </div>
	    </md-toolbar>
	    <div class="feed-container">
	      <div ng-repeat="s in summary" class="feed">
		<h3 class="title">
		  <a ng-click="showLink($event, s.link, s.title)" href="javascript:void(0)" class="link">{{s.title}}</a>
		</h3>
		<div class="summary">{{s.summary}}</div>
		<div class="published">{{s.feed_name}}, {{s.created | date : 'MMM d, y h:mm:ss a'}}</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div id="footer" class="footer">
	<div id="copyrights" class="copyrights">
	  <div class="copyright">
	    Icons created by <a href="http://www.bogdanrosu.com/">Bogdan Rosu Creative</a>
	  </div>
	  <div class="copyright">
	    &copy; 2016 Takashi Kato
	  </div>
	</div>
      </div>
    </div>
    <script><!--
var news = angular.module('news', ['ngMaterial']);

news.controller('providerCtrl', function($scope, $http, $mdDialog) {
    $scope.providers = {};
    $scope.summaries = {};
    $scope.urls = {};
    $http.get("/news/providers").
	then(function (response) {
	    $scope.providers = response.data;
	    $scope.providers.forEach(function (provider) {
		$scope.urls[provider.name] = provider.url;
		$scope.load_summary(provider.name);
	    });
	});
    $scope.showLink = function (ev, link, title) {
	$mdDialog.show({
	    templateUrl: '/news/html/iframe.html',
	    parent: angular.element(document.body),
	    targetEvent: ev,
	    clickOutsideToClose: true,
	    controller: 'iFrameCtrl',
	    fullscreen: true,
	    resolve: {
		url: function () {
		    return link;
		},
		title: function() {
		    return title;
		}
	    }
	});
    };
    $scope.load_summary = function(provider) {
	$http.get("/news/summary/" + provider).
	    then(function (response) {
		$scope.summaries[provider] = response.data;
	    });
    }
});

news.controller('iFrameCtrl', function($scope, $mdDialog, $sce, url, title) {
    $scope.givenUrl = $sce.trustAsResourceUrl(url);
    $scope.title = title;
    $scope.close = function () {
	$mdDialog.cancel();
    }
});
-->
    </script>
  </body>
</html>
